<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <span>Auth</span>
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->
      <% if (locals.user) { %>
        <div class="d-flex align-items-center">
          <p>
            <%= user.name %>
          </p>
          <div>
            <a href="/users/sign-out">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </div>

        </div>
        <% } else { %>
          <div class="d-flex align-items-center">
            <a type="button" class="btn btn-link px-3 me-2" href="/users/sign-in">
              Login
            </a>
            <a type="button" class="btn btn-primary me-3" href="/users/sign-up">
              Sign up for free
            </a>
          </div>
          <% } %>

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->