<div style="background-color: white; color: black;">
    <p>Hi! <%= user.name %>
    </p>
    <br>
    <p>Your new Password is :</p>
    <p>
        <%= password %>
    </p>
    <p>Thanks and Regards, <br> Dibya Mohan</p>
</div>